.env
node_modules

#compiled Object files
*.o
*.obj
*.so
*.exe
*.dll
*.a

#Folders
_obj
_test
vendor/

# logs
*.log

#Compiled Binaries
*.exe
*.out

#MacOS Files
.DS_Store

#Go Specific Files
#Compiled binaries for pkgs and cmds
/bin/
/tmp/*
#Output of the go coverage tool in HTML format
*.out
.vscode/settings.json
tmp/build-errors.log
tmp/main

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
